<div class="container" style="text-align: center;">
	<h1>Ordenes</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container">
	<div class="container" style="display: flex;justify-content: center;margin: 4% 0%;">
	<button class="btn btn-primary" style="color: #fff;width: 20%;">Cotización</button>
	</div>
	<div class="container" style="display: flex;justify-content: center;margin: 4% 0%;">
	<button class="btn btn-primary" style="color: #fff;width: 20%;">Orden de Trabajo</button>
	</div>
	<div class="container" style="display: flex;justify-content: center;margin: 4% 0%;">
	<button class="btn btn-primary" style="color: #fff;width: 20%;">Facturación</button>
	</div>
</div>