<div ng-controller="servicesControl">
<div class="container" style="text-align: center;">
	<h1>Revisión</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: center;">
	<span>Resumen de Servicios</span>
</div>
<div class="container" style="margin: 2%;">
	<table class="table table-light table-striped">
		<thead style="background: blue;color: #fff;">
			<th>Acción</th>
			<th>No.</th>
			<th>Tipo</th>
			<th>Servicio</th>
			<th>Descripción</th>
			<th>Cant.</th>
			<th>Precio Unitario</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr ng-repeat="servicio in servicios">
				<td><i class="fas fa-pencil-alt"></i><i class="fas fa-trash-alt"></i></td>
				<td>{{servicio.numero}}</td>
				<td>{{servicio.tipo}}</td>
				<td>{{servicio.servicio}}</td>
				<td>{{servicio.descripcion}}</td>
				<td>{{servicio.cantidad}}</td>
				<td>{{servicio.precio}}</td>
				<td>{{servicio.total}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container" style="display: flex;justify-content: flex-end;">
	<div>
		<span>Gran Total: <input type="text" name="" id="" class="form-control" readonly></span>
	</div>
</div>
<br>
<div class="container" style="display: flex;justify-content: center;">
	<div style="display: flex;flex-direction: row;justify-content: space-around;width: 40%;">
		<button class="btn btn-success" ng-click="show();">Generar</button>
		<button class="btn btn-danger">Cancelar</button>
	</div>
</div>
</div>