<aside style="background: #eee;width: 100%;text-align: left;color: var(--primary);margin-top: 8%;padding: 4%;border-radius: 1%;" ng-controller="menuControl" id="menu">
			<header ng-click="trigger();" ng-dblclick="triggerTwo();" class="menu-header" style="margin-top: 2%;">	
				<h2 style="text-align: center;">Menú</h2>
			</header>
			<div class="content">
			<div class="container">
				<span ng-click="display('config');">Configuración</span>
				<ul style="list-style-type: none;" id="config-list">
					<li><a href="#!informacion">Información</a></li>
					<li><a href="#!generales">Generales</a></li>
					<li><a href="#!perfiles">Perfiles</a></li>
				</ul>
			</div>
			<div class="container">
				<span ng-click="display('catalogues');">Catálogos</span>
				<ul style="list-style-type: none;" id="cat-list">
					<li><a href="#!servicios">Servicios</a></li>
					<li><a href="#!usuarios">Usuarios</a></li>
					<li><a href="#!cuentas">Cuenta</a></li>
					<li><a href="#!proveedores">Proveedores</a></li>
				</ul>
			</div>
			<div class="container">
				<span>Registrar</span>
				<div>
					<span ng-click="display('spends');">Gastos</span>
					<ul style="list-style-type: none;" id="spends-list">
						<li><a href="#!agregar-gastos">Agregar</a></li>
						<li><a href="#!consultar-gastos">Consultar</a></li>
					</ul>
				</div>
				<div>
					<span ng-click="display('orders');">Orden</span>
					<ul style="list-style-type: none;" id="orders-list">
						<li><a href="">Agregar</a></li>
						<li><a href="#!ordenes">Consultar</a></li>
					</ul>
				</div>
				<div>
					<span ng-click="display('pays');">Pago</span>
					<ul style="list-style-type: none;" id="pays-list">
						<li><a href="">Agregar</a></li>
						<li><a href="">Consultar</a></li>
					</ul>
				</div>
				
			</div>
			<div class="container">
				<span ng-click="display('accountState');">Estado de Cuenta</span>
				<ul style="list-style-type: none;" id="accountState-list">
					<li><a href="#!ingresos">Ingresos</a></li>
					<li><a href="#!egresos">Egresos</a></li>
				</ul>
			</div>
			<div class="container">
				<a href="#" onclick="location.href='#!';">Cerrar Sesión</a>
			</div>
			</div>
		</aside>