<aside style="background: #ddd;width: 100%;text-align: left;color: var(--primary);margin-top: 8%;padding: 4%;" ng-controller="menuControl">
			<header ng-click="trigger();" ng-dblclick="triggerTwo();" class="menu-header" style="margin-top: 2%;">	
				<h2 style="text-align: center;">Menú</h2>
			</header>
			<div class="content">
			<div class="container">
				<span>Configuración</span>
				<ul style="list-style-type: none;">
					<li><a href="#!informacion">Información</a></li>
					<li><a href="#!generales">Generales</a></li>
					<li><a href="#!perfiles">Perfiles</a></li>
				</ul>
			</div>
			<div class="container">
				<span>Catálogos</span>
				<ul style="list-style-type: none;">
					<li><a href="#!servicios">Servicios</a></li>
					<li><a href="#!usuarios">Usuarios</a></li>
					<li><a href="">Cuenta</a></li>
					<li><a href="#!proveedores">Proveedores</a></li>
				</ul>
			</div>
			<div class="container">
				<span>Registrar</span>
				<div>
					<span>Gastos</span>
					<ul style="list-style-type: none;">
						<li><a href="#!agregar-gastos">Agregar</a></li>
						<li><a href="#!consultar-gastos">Consultar</a></li>
					</ul>
				</div>
				<div>
					<span>Orden</span>
					<ul style="list-style-type: none;">
						<li><a href="">Agregar</a></li>
						<li><a href="#!ordenes">Consultar</a></li>
					</ul>
				</div>
				<div>
					<span>Pago</span>
					<ul style="list-style-type: none;">
						<li><a href="">Agregar</a></li>
						<li><a href="">Consultar</a></li>
					</ul>
				</div>
				
			</div>
			<div class="container">
				<span>Estado de Cuenta</span>
				<ul style="list-style-type: none;">
					<li><a href="">Ingresos</a></li>
					<li><a href="">Egresos</a></li>
					<li><a href="">utilidad/Pérdida</a></li>
				</ul>
			</div>
			</div>
		</aside>