<div class="container" style="text-align: center;">
	<h1>Agregar Cotizaciones</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="row" sty="dplay: flex; justify-content: center;" style="display: flex;justify-content: center;">
	<div class="col-sm-3">
		<label for="">Cuenta</label>
		<select name="" id="" class="form-control">
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
		</select>
	</div>
	<div class="col-sm-3">
		<label for="">Facturar a</label>
		<select name="" id="" class="form-control">
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
		</select>
	</div>
	<div class="col-sm-3">
		<label for="">Ubicación</label>
		<select name="" id="" class="form-control">
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
		</select>
	</div>
</div>
<div class="container" style="margin: 4%;display: flex;justify-content: center;">
	<span>Datos Generales</span>
</div>
<div class="container" style="margin-left: 4%;">
	<form action="" style="padding: 4%;background: blue;color: #fff !important;">
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-sm-4">
				<label for="">Nombre</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Dirección</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-sm-4">
				<label for="">País</label>
				<select name="" id="" class="form-control">
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label for="">Código Postal</label>
				<input type="number" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-sm-4">
				<label for="">Estado</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Ciudad</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-sm-4">
				<label for="">Teléfono</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Correo Electrónico</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex; justify-content: center;">
			<div class="col-sm-4">
				<label for="">Referencia</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Notas</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8" style="text-align: center;">
				<label for="">Instrucciones Especiales</label>
				<input type="text" class="form-control">
			</div>
		</div>
<div class="container" style="margin: 4%;display: flex;justify-content: center;">
	<span style="color: #fff;margin-right: 8%;">Información del Trabajo</span>
</div>
	<div class="row" style="display: flex;justify-content: center;">
				<div class="col-sm-4">
					<label for="">Fecha</label>
					<input type="date" class="form-control">
				</div>
				<div class="col-sm-4">
					<label for="">Hora</label>
					<input type="time" class="form-control">
				</div>
			</div>
			<div class="row" style="display: flex;justify-content: center;">
				<div class="col-sm-4">
					<label for="">Forma de Pago</label>
					<select class="form-control">
						<option>Efectivo</option>
						<option>Tarjeta</option>
						<option>Cheque</option>
					</select>
				</div>
				<div class="col-sm-4">
					<label for="">Almacenamiento en Tránsito</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row" style="display: flex;justify-content: center;">
				<div class="col-sm-4">
					<label for="">Peso de la Tara</label>
					<input type="number" class="form-control">
				</div>
				<div class="col-sm-4">
					<label for="">Distribución del Peso</label>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row" style="display: flex;justify-content: center;">
				<div class="col-sm-4">
					<label for="">Fecha de Empaque</label>
					<input type="date" class="form-control">
				</div>
				<div class="col-sm-4">
					<label for="">Fecha de Recogida</label>
					<input type="date" class="form-control">
				</div>
			</div>
			<div class="row" style="display: flex;justify-content: center;">
				<div class="col-sm-4">
					<label for="">Fecha de Entrega</label>
					<input type="date" class="form-control">
				</div>
				<div class="col-sm-4" style="visibility: hidden;">
					<label for="">Fecha de Entrega</label>
					<input type="date" class="form-control">
				</div>
			</div>		
</form>
</div>
