<div ng-controller="servicesControl">
<div class="container" style="text-align: center;">
	<h1>Agregar Servicio</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="row" style="margin: 2%;">
	<div class="col-sm-4">
		<span>Nombre del Cliente: <input type="text" name="nombre" class="form-control"></span>
	</div>
	<div class="col-sm-4">
		<span>ID Orden: 1AKL22</span>
	</div>
	<div class="col-sm-4" style="display: flex;flex-direction: row;">
		<span style="margin-right: 2%;">Precio: </span>
		<input type="text" class="form-control" style="width: 50%;"> 
	</div>
</div>
<div class="container" style="display: flex;justify-content: center;">
	<form action="" style="background: blue;color: #fff !important;padding: 4%;">
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-5">
				<label for="">Tipo de Servicio:</label>
				<select class="form-control" name="tipo_servicio">
					<option value="">Opcion</option>
					<option value="">Opcion</option>
					<option value="">Opcion</option>
					<option value="">Opcion</option>
				</select>
			</div>
			<div class="col-sm-5">
				<label for="">Servicio:</label>
				<select class="form-control" name="servicio">
					<option value="">Opcion</option>
					<option value="">Opcion</option>
					<option value="">Opcion</option>
					<option value="">Opcion</option>
				</select>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-5">
				<label for="">Descripción:</label>
				<select class="form-control" name="descripcion">
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
				</select>
			</div>
			<div class="col-sm-5" style="display: flex;flex-direction: row !important;">
				<div style="margin: 1%;">
					<label for="">Cantidad</label>
					<input type="text" class="form-control">
				</div>
				<div style="margin: 1%;">
					<label for="">Precio Unitario</label>
					<input type="text" class="form-control" name="precio">
				</div>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-5">
				<label for="">Tipo de Carga</label>
				<select class="form-control">
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
				</select>
			</div>
			<div class="col-sm-5" style="display: flex;flex-direction: row !important;">
				<div>
					<label for="">Medidas(LxAxA)</label>
					<div style="display: flex;flex-direction: row;">
						<div style="margin: 0.5%;">
							<input type="text" class="form-control">
						</div>
						<div style="margin: 0.5%;">
							<input type="text" class="form-control">
						</div>
						<div style="margin: 0.5%;">
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
		</div>
	</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-5">
				<label for="">Peso</label>
				<input type="number" class="form-control">
			</div>
			<div class="col-sm-5">
				<label for="">Repeso</label>
				<input type="number" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-5">
				<label for="">Aplicar</label>
				<div style="display: flex;flex-direction: row;justify-content: space-around;">
					<span style="color: #fff;"><input type="checkbox"> Seguro</span>
					<span style="color: #fff;"><input type="checkbox"> Impuesto</span>
				</div>
			</div>
			<div class="col-sm-5">
				<label for="">Contenido</label>
				<textarea name="" id="" cols="27" rows="4" class="form-control"></textarea>
			</div>
		</div>
		<br>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-10">
				<div style="display: flex;flex-direction: row;justify-content: space-around;">
					<button class="btn btn-success" ng-click="add();">Agregar</button>
					<button class="btn btn-primary">Guardar</button>
					<button class="btn btn-danger">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>