<div class="container" style="text-align: center;">
	<h1>Consultar Gastos</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;flex-direction: row;margin: 2% 2%;">
		<div class="col-sm-4">
			<label for="">Proveedor</label>
			<select name="" id="" class="form-control">
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
			</select>
		</div>
		<div class="col-sm-4">
		    <label for="">Tipo de Servicio</label>
            <select name="" id="" class="form-control">
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
					<option value="">Opción</option>
			</select>
		</div>
		<div class="col-sm-4">
			<label for="" style="text-align: center;">Período</label>
			<div style="display: flex;justify-content: center;flex-direction: row;">
			<input type="date" name="" id="" class="form-control" style="margin-right: 2%;">
			<input type="date" name="" id="" class="form-control">
			</div>
		</div>
			</div>
<div class="container">
	<table class="table table-light table-striped">
		<thead style="background: blue;color: #fff;">
			<th>Fecha</th>
			<th>Folio</th>
			<th>Proveedor</th>
			<th>Servicio</th>
			<th>Gasto</th>
			<th>Impuesto</th>
			<th>Importe</th>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>