<div ng-controller="spendsControl">
<div class="container" style="text-align: center;">
	<h1>Consultar Gastos</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;flex-direction: row;margin: 2% 2%;">
		<div class="col-sm-3">
			<label for="">Proveedor</label>
			<select name="proveedor" class="form-control">
					<option value="proveedor1">Opción</option>
					<option value="proveedor2">Opción</option>
					<option value="proveedor3">Opción</option>
					<option value="proveedor4">Opción</option>
			</select>
		</div>
		<div class="col-sm-3">
		    <label for="">Tipo de Servicio</label>
            <select class="form-control" name="tipo_servicio">
					<option value="insumo">Insumo</option>
					<option value="Servicio">Servicio</option>
					<option value="Transporte">Transporte</option>
					<option value="Asesoría">Asesoría</option>
					<option value="Arrendamiento">Arrendamiento</option>
					<option value="Otros">Otros</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label for="" style="text-align: center;">Período</label>
			<div style="display: flex;justify-content: center;flex-direction: row;">
			<input type="date" class="form-control" style="margin-right: 2%;" name="periodo_inicio">
			<input type="date" class="form-control" name="periodo_final">
			</div>
		</div>
		<div class="col-sm-3" style="display: flex;align-items: flex-end;">
			<button class="btn btn-success" ng-click="searchFilter();">Buscar</button>
		</div>
			</div>
<div class="container">
	<table class="table table-light table-striped">
		<thead style="background: blue;color: #fff;">
			<th>Fecha</th>
			<th>Folio</th>
			<th>Proveedor</th>
			<th>Servicio</th>
			<th>Gasto</th>
			<th>Impuesto</th>
			<th>Importe</th>
		</thead>
		<tbody>
			<tr ng-repeat="spend in spends" ng-click="edit(spend.id);">
				<td>{{spend.fecha_gasto}}</td>
				<td>{{spend.folio}}</td>
				<td>{{spend.proveedor}}</td>
				<td>{{spend.tipo_servicio}}</td>
				<td>{{spend.gasto}}</td>
				<td>{{spend.impuesto}}</td>
				<td>{{spend.importe}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container" style="display: flex;justify-content: center;">
	<div style="display: flex;flex-direction: row;">
		<button class="btn btn-primary" ng-click="searchSpends();">Mostrar</button>
		<a href="#!agregar-gastos" style="margin-left: 2%;"><button class="btn btn-primary">Agregar</button></a>
	</div>
</div>
</div>