<div class="container" style="text-align: center;">
	<h1>Consultar Asignación de Perfiles</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: flex-end;">
	<div style="display: flex;flex-direction: row;">
		<span>Estado: <input type="checkbox"> Activo <input type="checkbox"> Inactivo</span>
	</div>
</div>
<div class="container">
	<div class="col-sm-3">
	<label for="">Perfil</label>
	<select class="form-control">
		<option value="">Opción</option>
		<option value="">Opción</option>
		<option value="">Opción</option>
	</select>
	</div>
</div>
<br>
<div class="container" style="padding: 4%;margin: 4%;background: var(--primary);">
	<table class="table table-striped table-light">
		<thead style="background: blue; color: #fff;">
			<th>ID</th>
			<th>Nombre</th>
			<th>Compañía</th>
			<th>Puesto</th>
			<th>Fecha Ingreso</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Tal</td>
				<td>asas</td>
				<td>asas</td>
				<td>asas</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>