<div ng-controller="providersControl">
	<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="editProvider">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row" style="display: flex;justify-content: center;">
      		<div class="col-sm-6">
      			<label for="">Nombre</label>			
      			<input type="text" name="column-0" class="form-control">
      		</div>
      	</div>
      	<br>
      	<div class="row" style="display: flex;justify-content: center;">
      		<div class="col-sm-6">
      			<label for="">Teléfono</label>
      			<input type="text" name="column-1" class="form-control">
      		</div>
      	</div>
      	<br>
        <div class="row" style="display: flex;justify-content: center;">
        	<div class="col-sm-6">
        		<label for="">Correo</label>
        		<input type="text" name="column-2" class="form-control">
        	</div>
        </div>
        <br>
        <div class="row" style="display: flex;justify-content: center;">
        	<div class="col-sm-6">
        		<label for="">Fecha Alta</label>
        		<input type="date" name="column-3" class="form-control" readonly>
        	</div>
        </div>
        <br>
        <div class="row" style="display: flex;justify-content: center;">
        	<div class="col-sm-6">
        		<label for="">Teléfono Contacto</label>
        		<input type="text" name="column-4" class="form-control">
        	</div>
        </div>
        <br>
        <div class="row" style="display: flex;justify-content: center;">
        	<div class="col-sm-6">
        		<label for="">Correo Contacto</label>
        		<input type="text" name="column-5" class="form-control">
        	</div>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="processEdit();">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- / Modal -->
<div class="container" style="text-align: center;">
	<h1>Proveedores</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: flex-end;">
	<div style="display: flex;flex-direction: row;">
		<span>Estado: <input type="checkbox"> Activo <input type="checkbox"> Inactivo</span>
	</div>
</div>
<div class="row" style="display: flex;justify-content: center;margin: 4%;margin-left: 10%;">
	<div class="col-sm-3">
		<label for="">Nombre</label>
		<input type="text" class="form-control" name="name" ng-keyup="search();">
	</div>
	<div class="col-sm-3">
		<label for="">Teléfono</label>
		<input type="tel"  class="form-control" name="tel" ng-keyup="search();">
	</div>
	<div class="col-sm-3">
		<label for="">Nombre Contacto</label>
		<input type="text" class="form-control" name="con_name" ng-keyup="search();">
	</div>
  <div class="col-sm-2" style="display: flex;align-items: flex-end;">
    <button class="btn btn-success" ng-click="pdf();">Crear PDF</button>
  </div>
	<div class="col-sm-1" style="display: flex;align-items: center;margin-top: 3.5%;">
		<a href="#!agregar-proveedores"><i class="fas fa-plus" style="color: green;"></i></a>
	</div>
</div>
<div class="container" style="margin: 2%;padding: 2%; background: var(--primary);">
	<div class="container" style="display: flex;justify-content: center;">
		<span style="color: #fff;">Presiona sobre la fila para editar la información del Cliente</span>
	</div>
	<br>
	<table class="table table-light table-striped" name="providersTable">
		<thead style="background: blue;color: #fff;">
			<th>Nombre</th>
			<th>Teléfono</th>
			<th>Correo</th>
			<th>Fecha Alta</th>
			<th>Teléfono Cont.</th>
			<th>Correo</th>
		</thead>
		<tbody>
			<tr ng-repeat="proveedor in providers" ng-click="edit(proveedor.id);" data-toggle="modal" data-target="#editProvider">
				<td>{{proveedor.nombre}}</td>
				<td>{{proveedor.telefono}}</td>
				<td>{{proveedor.correo}}</td>
				<td>{{proveedor.fecha_alta}}</td>
				<td>{{proveedor.telefono_contacto}}</td>
				<td>{{proveedor.correo_contacto}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container" style="display: flex;justify-content: center;">
	<button class="btn btn-primary" ng-click="show();">Mostrar</button>
</div>
</div>