<div class="container" style="text-align: center;">
	<h1>Orden de Trabajo</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container">
	<div class="row" style="display: flex;justify-content: flex-end;">
		<div class="col-sm-4">
			<span>Estado: </span>
			<span>Activo <input type="radio"></span>
			<span>Cancelado <input type="radio"></span>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<label for="">Cuenta</label>
			<select name="" id="" class="form-control">
				<option value="">Opción</option>
				<option value="">Opción</option>
				<option value="">Opción</option>
				<option value="">Opción</option>
			</select>
		</div>
		<div class="col-sm-4">
			<label for="">Nombre Cliente</label>
			<input type="text" class="form-control">
		</div>
		<div class="col-sm-4">
			<label for="">Período</label>
			<div style="display: flex;flex-direction: row;">
			<input type="date" name="" id="" class="form-control" style="margin-right: 2%;">
			<input type="date" name="" id="" class="form-control">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<table class="table table-light table-striped" style="margin-top: 4%;">
		<thead style="background: blue;color: #fff;">
			<th>ID</th>
			<th>Nombre de la Cuenta</th>
			<th>Nombre del cliente</th>
			<th>Fecha del Trabajo</th>
			<th>Total de Servicios</th>
			<th>Total de la Orden</th>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</thead>
	</table>
</div>