<div class="container" style="text-align: center;">
	<h1>Editar Gastos</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: center;width: 100%;">
	<form action="" style="width: 100%;">
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Tipo de Servicio</label>
				<select name="serviceType" class="form-control">
					<option value="insumo">Insumo</option>
					<option value="servicio">Servicio</option>
					<option value="Transporte">Transporte</option>
					<option value="Asesoría">Asesoría</option>
					<option value="Arrendamiento">Arrendamiento</option>
					<option value="Otros">Otros</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label for="">Proveedor</label>
				<select name="provider" class="form-control">
					<option value="proveedor1">Opción</option>
					<option value="proveedor2">Opción</option>
					<option value="proveedor3">Opción</option>
					<option value="proveedor4">Opción</option>
				</select>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Fecha del Gasto</label>
				<input type="date" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Descripción</label>
				<input type="text" name="description" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Importe</label>
				<input type="text" name="import" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Impuesto</label>
				<input type="text" name="tax" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Gasto</label>
				<input type="text" name="spend" class="form-control">
			</div>
			<div class="col-sm-4">
				<label for="">Folio</label>
				<input type="text" name="folio" class="form-control">
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8">
				<label for="">Notas</label>
				<textarea name="notes" cols="30" rows="10" class="form-control"></textarea>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8">
				<label for="">Comprobante</label>
				<input type="file" name="check" class="form-control">
			</div>
		</div>
		<br>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8" style="display: flex;justify-content: center;" ng-controller="formControl">
				<button class="btn btn-primary btn-lg" ng-click="send($event, 'spends-edit');">Editar</button>
			</div>
		</div>
	</form>
</div>