<div ng-controller="spendsControl">
<div class="container" style="text-align: center;">
	<h1>Editar Gastos</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: center;width: 100%;">
	<form action="" style="width: 100%;" name="form">
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Tipo de Servicio</label>
				<select name="serviceType" class="form-control">
					<option value="insumo">Insumo</option>
					<option value="servicio">Servicio</option>
					<option value="Transporte">Transporte</option>
					<option value="Asesoría">Asesoría</option>
					<option value="Arrendamiento">Arrendamiento</option>
					<option value="Otros">Otros</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label for="">Proveedor</label>
				<select name="provider" class="form-control">
					<option value="proveedor1">Opción</option>
					<option value="proveedor2">Opción</option>
					<option value="proveedor3">Opción</option>
					<option value="proveedor4">Opción</option>
				</select>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Fecha del Gasto</label>
				<input type="date" class="form-control" name="spendDate" required>
				<span ng-show="form.spendDate.$invalid && form.spendDate.$touched">Fecha Requerido</span>
			</div>
			<div class="col-sm-4">
				<label for="">Descripción</label>
				<input type="text" name="description" class="form-control" required>
				<span ng-show="form.description.$invalid && form.description.$touched">Descripción Requerida</span>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Importe</label>
				<input type="text" name="import" class="form-control" required>
				<span ng-show="form.import.$invalid && form.import.$touched">Importe Requerido</span>
			</div>
			<div class="col-sm-4">
				<label for="">Impuesto</label>
				<input type="text" name="tax" class="form-control" required>
				<span ng-show="form.tax.$invalid && form.tax.$touched">Impuesto Requerido</span>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-4">
				<label for="">Gasto</label>
				<input type="text" name="spend" class="form-control" required>
				<span ng-show="form.spend.$invalid && form.spend.$touched">Gasto Requerido</span>
			</div>
			<div class="col-sm-4">
				<label for="">Folio</label>
				<input type="text" name="folio" class="form-control" required>
				<span ng-show="form.folio.$invalid && form.folio.$touched">Folio Requerido</span>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8">
				<label for="">Notas</label>
				<textarea name="notes" cols="30" rows="10" class="form-control" required></textarea>
				<span ng-show="form.notes.$invalid && form.notes.$touched">Notas Requeridas</span>
			</div>
		</div>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8">
				<label for="">Comprobante</label>
				<input type="file" name="check" class="form-control" required>
				<span ng-show="form.check.$invalid && form.check.$touched">Comprobante Requerido</span>
			</div>
		</div>
		<br>
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-sm-8" style="display: flex;justify-content: center;" ng-controller="formControl">
				<button class="btn btn-primary btn-lg" type="button" ng-click="processEdit();">Editar</button>
			</div>
		</div>
	</form>
</div>
</div>