<div class="container" style="text-align: center;">
	<h1>Consultar Usuario</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container" style="display: flex;justify-content: flex-end;">
	<div style="display: flex;flex-direction: row;">
		<span>Estado: <input type="checkbox"> Activo <input type="checkbox"> Inactivo</span>
	</div>
</div>
<div class="row" style="display: flex;justify-content: center;margin: 4%;margin-left: 10%;">
	<div class="col-sm-3">
		<label for="">Nombre</label>
		<input type="text" class="form-control">
	</div>
	<div class="col-sm-3">
		<label for="">Compañía</label>
		<input type="text"  class="form-control">
	</div>
	<div class="col-sm-3">
		<label for="">Puesto</label>
		<select name="" id="" class="form-control">
			<option value="">Opción</option>
			<option value="">Opción</option>
			<option value="">Opción</option>
		</select>
	</div>
	<div class="col-sm-2" style="display: flex;justify-content: center;align-items: flex-end;">
		<button class="btn btn-success">Buscar</button>
	</div>
	<div class="col-sm-1" style="display: flex;align-items: center;margin-top: 3.5%;">
		<a href="#!agregar-usuarios"><i class="fas fa-plus" style="color: green;"></i></a>
	</div>
</div>
<div class="container" style="margin: 2%;padding: 2%; background: var(--primary);">
	<div class="container" style="display: flex;justify-content: center;">
		<span style="color: #fff;">Presiona sobre la fila para editar la información del Cliente</span>
	</div>
	<br>
	<table class="table table-light table-striped">
		<thead style="background: blue;color: #fff;">
			<th>ID</th>
			<th>Nombre</th>
			<th>Teléfono</th>
			<th>Correo</th>
			<th>Fecha Ingreso</th>
			<th>Usuario</th>
			<th>Contraseña</th>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>