<div class="container" style="text-align: center;">
	<h1>Estado de Cuenta</h1>
	<hr style="background: #eee;height: 0.0008em;margin: 2% 10%;">
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3" style="display: flex;justify-content: flex-end;align-items: flex-end;">
			<label for="">Período</label>
		</div>
		<div class="col-sm-3">
			<input type="date" name="" class="form-control">
		</div>
		<div class="col-sm-3">
			<input type="date" name="" class="form-control">
		</div>
	</div>
</div>